---
import astroLogo from '../assets/astro.svg';
import Presentation from './Presentation.astro';
---

<main id="container" class="font-sans w-full max-w-screen-2xl mx-auto">
    <Presentation />
</main>	